{% extends 'base.html' %}
	
	{% block content %}
      
<div class="w3-row w3-padding-64">
   
      <h1 class="w3-text-teal ">

<h1>{{ redaccion.titulo }}</h1>
<small> Creado por {{ redaccion.autor.first_name }} {{ redaccion.autor.last_name }}</small><br/>
<hr>
<br/>
<div class="w3-twothird w3-container">
{{redaccion.texto}}
</div>
<br/><br/>
<br/><br/>
<h2> Comentarios... </h2>
{% if not redaccion.comentarios.all %}
        No hay comentarios.. <a href="{% url 'categorias:nuevocoment' redaccion.pk %}">has un comentario</a><br/><br/>
    {% else %}
        {% for comentario in redaccion.comentarios.all %}
    <strong>
        {{comentario.nombre}} -
        {{comentario.fecha_comentario}}
    </strong>
    <br/>
        {{comentario.cuerpo}}
        {% endfor %}
{% endif %}
<br/><br/>
 <a href="{% url 'categorias:nuevocoment' redaccion.pk %}">has un nuevo comentario</a>
    
<br/><br/>

 {% endblock content %}