   {% extends 'base.html' %}
	
	{% block content %}
      
      {% if object_list %}
      <div class="w3-padding-64 w3-padding-large">
          <table>
            {% for redaccion in object_list %}
          <tr>
            <td><a class="w3-container w3-text-teal w3-twothird w3-container" href="{% url 'categorias:detallearticulo' redaccion.pk %}"> {{redaccion.titulo}} </a> Por: {{ redaccion.autor.first_name }} {{ redaccion.autor.last_name }}</td>
            <td>{{redaccion.fecha}}</td>
            <td>{{redaccion.categoria}}</td> 

          </tr>   
      {% endfor %}
      </table>
      {% else %}
      <h1>No hay registro</h1>
      {% endif %}
      <!--<h2> Comentarios... </h2>
      {% if not redaccion.comentarios.all %}
        No hay comentarios.. <a href="{% url 'categorias:nuevocoment'%}">has un comentario</a><br/><br/>
      {% else %}
        {% for comentario in redaccion.comentarios.all %}
        <strong>
          {{comentario.nombre}} -
          {{comentario.fecha_comentario}}
        </strong>
        <br/>
        {{comentario.cuerpo}}
        {% endfor %}
      {% endif %}-->
      </div>
    
  {% endblock content %}