{% extends 'base.html' %}
	
	{% block content %}
<div class="w3-container w3-padding-64 w3-center" id="team">
	<h2>Programadora</h2>
	<p>Esta pagina web fue creado por:</p>

	<div class="w3-row"><br>


		<div>
			<p style="text-align: center;">
	  		<img src="https://media-exp1.licdn.com/dms/image/C5603AQFcW7ehwLacAA/profile-displayphoto-shrink_800_800/0/1615152054016?e=1623283200&v=beta&t=RKip3FP-h8hqRT-d6Uz8fGMj7R882_fM453CisIHUQI" alt="Alumna" style="width: 150px;" class="w3-circle w3-hover-opacity">
	  		<h3>Rosmari Fernandez</h3>
			<a href="https://www.linkedin.com/in/rosmari-fernandez-0b35497a/" class="w3-text-teal"><p>Linkedin</p></a>
			<p>Programadora Back end</p>
			<p><small> Esta pagina esta echo con Python, Django y SQL Server</small></p>
			</p>
		</div>
	</div>
</div>

	{% endblock content %}